.label {
  color: #74788d;
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

.value {
  color: #212529;
  font-weight: 500;
}

.mat-mdc-header-cell {
  font-weight: 600;
}

.thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.image-missing {
  font-size: 36px;
  width: 36px;
  height: 36px;
  color: #c7c7c7;
}
