/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Sacramento&family=Sansita+Swashed:wght@300..900&display=swap');
@import "~leaflet/dist/leaflet.css";
.airport-map-modal-dialog {
  .mat-dialog-container {
    padding: 0;
    border-radius: 0.5rem;
    overflow: hidden;
  }
}
/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

ngx-dropzone{
  border:2px dashed var(--bs-border-color) !important;
}

ngx-dropzone-preview {
  max-width: none !important;
  justify-content: normal !important;
  height: 80px !important;
  min-height: 80px !important;
  background-image: none !important;
  img {
    opacity: 1 !important;
  }

  ngx-dropzone-label {
    position: unset !important;
  }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  z-index: 1100 !important;
}*/
