.action-menu-button {
  color: #74788d;
}

.action-menu-button:hover {
  color: #556ee6;
}

.action-menu {
  .menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    
    i {
      width: 18px;
    }
  }
}

.mat-elevation-z8 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

::ng-deep {
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-content {
      max-height: 80vh;
      overflow-y: auto;
    }
  }
  
  .mat-mdc-form-field {
    width: 100%;
  }
}
